In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [4]:
course_genres_df = pd.read_csv('./data/course_genre.csv')
course_genres_df.head()

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,ML0201EN,robots are coming build iot apps with watson ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,ML0122EN,accelerating deep learning with gpu,0,1,0,0,0,1,0,1,0,0,0,0,0,0
2,GPXX0ZG0EN,consuming restful services using the reactive ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,RP0105EN,analyzing big data in r using apache spark,1,0,0,1,0,0,0,0,1,0,1,0,0,0
4,GPXX0Z2PEN,containerizing packaging and running a sprin...,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [167]:
profile_df = pd.read_csv('./data/user_profile.csv')
profile_df.tail()

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
33898,2102680,3.0,6.0,6.0,0.0,0.0,14.0,0.0,9.0,0.0,0.0,3.0,0.0,0.0,0.0
33899,2102983,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33900,2103039,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33901,2103098,6.0,0.0,3.0,0.0,6.0,0.0,0.0,3.0,0.0,0.0,3.0,3.0,0.0,0.0
33902,2103099,6.0,0.0,3.0,3.0,6.0,0.0,0.0,3.0,3.0,0.0,6.0,6.0,3.0,0.0

In [179]:
profile_df[profile_df['user']==2103099].iloc[:,1:].to_numpy()

array([[6., 0., 3., 3., 6., 0., 0., 3., 3., 0., 6., 6., 3., 0.]])

In [154]:
profile_df.shape

(33901, 15)

In [155]:
u0profile.shape

(1, 15)

In [109]:
course_genres_df.columns[2:]

Index(['Database', 'Python', 'CloudComputing', 'DataAnalysis', 'Containers',
       'MachineLearning', 'ComputerVision', 'DataScience', 'BigData',
       'Chatbot', 'R', 'BackendDev', 'FrontendDev', 'Blockchain'],
      dtype='object')

In [6]:
ratings = pd.read_csv('./data/ratings.csv')

In [7]:
courses = ratings[ratings['user']==2103087]['item']

In [8]:
C = course_genres_df[course_genres_df['COURSE_ID'].isin(courses)].iloc[:,2:].to_numpy()

In [85]:
print(len(courses),len(C))

9 9

In [9]:
u0 = np.array([[3.0] * len(courses)])
u0

array([[3., 3., 3., 3., 3., 3., 3., 3., 3.]])

In [10]:
print(u0.shape,C.shape)

(1, 9) (9, 14)

In [11]:
u0weights = np.matmul(u0,C)
u0weights

array([[3., 3., 3., 3., 6., 3., 0., 6., 3., 0., 6., 9., 6., 0.]])

In [128]:
u0profile = pd.DataFrame(u0weights.reshape(1,14),columns=course_genres_df.columns[2:]) 
u0profile.insert(0,'user',9993087)
u0profile

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,9993087,3.0,3.0,3.0,3.0,6.0,3.0,0.0,6.0,3.0,0.0,6.0,9.0,6.0,0.0

In [157]:
profile_df.columns[1:]

Index(['Database', 'Python', 'CloudComputing', 'DataAnalysis', 'Containers',
       'MachineLearning', 'ComputerVision', 'DataScience', 'BigData',
       'Chatbot', 'R', 'BackendDev', 'FrontendDev', 'Blockchain'],
      dtype='object')

In [134]:
demo = pd.concat([profile_df,u0profile])
demo.reset_index(drop=True)

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,2,52.0,14.0,6.0,43.0,3.0,33.0,0.0,29.0,41.0,2.0,18.0,34.0,9.0,6.0
1,4,40.0,2.0,4.0,28.0,0.0,14.0,0.0,20.0,24.0,0.0,6.0,6.0,0.0,2.0
2,5,24.0,8.0,18.0,24.0,0.0,30.0,0.0,22.0,14.0,2.0,14.0,26.0,4.0,6.0
3,7,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33897,2102356,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33898,2102680,3.0,6.0,6.0,0.0,0.0,14.0,0.0,9.0,0.0,0.0,3.0,0.0,0.0,0.0
33899,2102983,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33900,2103039,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33901,9993087,3.0,3.0,3.0,3.0,6.0,3.0,0.0,6.0,3.0,0.0,6.0,9.0,6.0,0.0

In [ ]:
enrolled = set(courses)
all_courses = set(course_genres_df['COURSE_ID'].values)
unknown_courses = all_courses.difference(enrolled)
unknown_courses

In [14]:
unknown_courses_genres = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
course_matrix = unknown_courses_genres.iloc[:,2:].values
course_matrix

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0]], dtype=int64)

In [15]:
test_user_vector = u0weights

In [16]:
len(course_matrix)

298

In [17]:
scores = []
for i in range(298):
    scores.append(np.dot(course_matrix[i].reshape(1,14),u0weights.T)[0,0])

In [27]:
course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
9,GPXX06RFEN,create your first mongodb database,1,0,0,0,0,0,0,0,0,0,0,0,0,0
10,GPXX0SDXEN,testing microservices with the arquillian mana...,0,0,0,0,1,0,0,0,0,0,0,1,0,0
11,CC0271EN,cloud pak for integration essentials,1,0,1,0,0,0,0,0,0,0,0,0,0,0
12,WA0103EN,watson analytics for social media,0,0,1,1,0,0,0,0,0,0,0,0,0,0
13,DX0108EN,data science bootcamp with python for universi...,0,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,excourse89,javascript jquery and json,0,0,0,0,0,0,0,0,0,0,0,1,1,0
303,excourse90,programming foundations with javascript html ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
304,excourse91,front end web development with react,0,0,0,0,0,0,0,0,0,0,0,0,1,0
305,excourse92,introduction to web development,0,0,0,0,0,0,0,0,0,0,0,1,1,0
306,excourse93,interactivity with javascript and jquery,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [30]:
unknown_courses_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
unknown_courses_df

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
9,GPXX06RFEN,create your first mongodb database,1,0,0,0,0,0,0,0,0,0,0,0,0,0
10,GPXX0SDXEN,testing microservices with the arquillian mana...,0,0,0,0,1,0,0,0,0,0,0,1,0,0
11,CC0271EN,cloud pak for integration essentials,1,0,1,0,0,0,0,0,0,0,0,0,0,0
12,WA0103EN,watson analytics for social media,0,0,1,1,0,0,0,0,0,0,0,0,0,0
13,DX0108EN,data science bootcamp with python for universi...,0,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,excourse89,javascript jquery and json,0,0,0,0,0,0,0,0,0,0,0,1,1,0
303,excourse90,programming foundations with javascript html ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
304,excourse91,front end web development with react,0,0,0,0,0,0,0,0,0,0,0,0,1,0
305,excourse92,introduction to web development,0,0,0,0,0,0,0,0,0,0,0,1,1,0
306,excourse93,interactivity with javascript and jquery,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [31]:
unknown_courses_df['COURSE_ID'].values

array(['GPXX06RFEN', 'GPXX0SDXEN', 'CC0271EN', 'WA0103EN', 'DX0108EN',
       'GPXX0PICEN', 'DAI101EN', 'GPXX0W7KEN', 'GPXX0QR3EN', 'BD0145EN',
       'HCC105EN', 'DE0205EN', 'DS0132EN', 'OS0101EN', 'DS0201EN',
       'BENTEST4', 'CC0210EN', 'PA0103EN', 'HCC104EN', 'GPXX0A1YEN',
       'TMP0105EN', 'PA0107EN', 'DB0113EN', 'PA0109EN', 'PHPM002EN',
       'GPXX03HFEN', 'RP0103', 'RP0103EN', 'BD0212EN', 'GPXX0IBEN',
       'SECM03EN', 'SC0103EN', 'GPXX0YXHEN', 'RP0151EN', 'TA0105',
       'SW0201EN', 'TMP0106', 'GPXX0BUBEN', 'ST0201EN', 'ST0301EN',
       'SW0101EN', 'TMP0101EN', 'DW0101EN', 'BD0143EN', 'WA0101EN',
       'GPXX04HEEN', 'BD0141EN', 'CO0401EN', 'ML0122ENv1', 'BD0151EN',
       'TA0106EN', 'TMP107', 'ML0111EN', 'GPXX048OEN', 'CO0201EN',
       'GPXX01DCEN', 'GPXX04XJEN', 'GPXX0JZ4EN', 'GPXX0ZYVEN',
       'GPXX0ZMZEN', 'GPXX0742EN', 'GPXX0KV4EN', 'GPXX01RYEN', 'CC0120EN',
       'QC0101EN', 'GPXX0YMEEN', 'GPXX0Q8AEN', 'TA0105EN', 'GPXX0XFQEN',
       'GPXX07REN', 'PA0101EN', 'BC0202EN', 'BC0101EN', 'GPXX0725EN',
       'BC0201EN', 'GPXX0MIIEN', 'BD0223EN', 'GPXX0435EN', 'GPXX06ZLEN',
       'GPXX0QS6EN', 'GPXX07YGEN', 'AI0111EN', 'GPXX0QJFEN', 'GPXX0LLEEN',
       'BD0121EN', 'BD0135EN', 'BD0133EN', 'BD0131EN', 'BD0115EN',
       'GPXX04V3EN', 'GPXX05P1EN', 'GPXX0D14EN', 'GPXX0G3KEN', 'BD0211EN',
       'GPXX0HZ2EN', 'GPXX04TNEN', 'GPXX0IHMEN', 'ST0101EN', 'BD0153EN',
       'DP0101EN', 'BD0137EN', 'ML0120EN', 'GPXX0E3QEN', 'GPXX0XV3EN',
       'CB0201EN', 'CB0105ENv1', 'GPXX0NHZEN', 'CL0101EN', 'CO0301EN',
       'GPXX0XENEN', 'GPXX0HAAEN', 'DA0201EN', 'DJ0101EN', 'CP0101EN',
       'DB0111EN', 'DB0115EN', 'COM001EN', 'DA0151EN', 'DB0151EN',
       'CO0302EN', 'GPXX0T0FEN', 'DS0107', 'DS0110EN', 'DX0107EN',
       'DS0321EN', 'DS0105EN', 'DS0103EN', 'GPXX0I4FEN', 'GPXX06KEEN',
       'GPXX0YBFEN', 'LB0109ENv1', 'GPXX0KHHEN', 'LB0111EN', 'ML0115EN',
       'LB0105ENv1', 'LB0103ENv1', 'IT0101EN', 'CC0250EN', 'BD0101EN',
       'EE0101EN', 'GPXX04P5EN', 'CO0101EN', 'ML0122ENv3', 'LB0107ENv1',
       'CB0101EN', 'GPXX0PG8EN', 'ML0101EN', 'CB0103EN', 'ML0109EN',
       'ML0101ENv3', 'GPXX0M7ZEN', 'CC0121EN', 'DA0101EN', 'GPXX07UGEN',
       'GPXX0QU9EN', 'SC0101EN', 'GPXX0QTEEN', 'GPXX0WTIEN', 'GPXX08WYEN',
       'GPXX0UMSEN', 'GPXX0M6UEN', 'GPXX097UEN', 'SN0111EN', 'GPXX0JGFEN',
       'CO0193EN', 'GPXX0HC7EN', 'GPXX04MXEN', 'DS0101EN', 'LB0101ENv1',
       'DS0301EN', 'GPXX0RL8EN', 'GPXX05LMEN', 'BD0111EN', 'CC0101EN',
       'GPXX0UN5EN', 'BD0221EN', 'CC0103EN', 'GPXX0TY1EN', 'GPXX0T3CEN',
       'PY0101EN', 'CC0201EN', 'BD0123EN', 'DB0101EN', 'GPXX05RDEN',
       'DV0151EN', 'GPXX0BSAEN', 'GPXX0G81EN', 'GPXX0FFCEN', 'GPXX0MP0EN',
       'DV0101EN', 'ML0103EN', 'ML0151EN', 'GPXX01AVEN', 'ML0120ENv2',
       'RP0101EN', 'GPXX0G31EN', 'GPXX0KY1EN', 'GPXX0JLHEN', 'CC0150EN',
       'GPXX0QQ3EN', 'GPXX0RQLEN', 'GPXX0WRDEN', 'GPXX0ADEN',
       'ML0120ENv3', 'SC0105EN', 'excourse01', 'excourse02', 'excourse03',
       'excourse04', 'excourse05', 'excourse06', 'excourse07',
       'excourse08', 'excourse09', 'excourse10', 'excourse11',
       'excourse12', 'excourse13', 'excourse14', 'excourse15',
       'excourse16', 'excourse17', 'excourse18', 'excourse19',
       'excourse20', 'excourse21', 'excourse22', 'excourse23',
       'excourse24', 'excourse25', 'excourse26', 'excourse27',
       'excourse28', 'excourse29', 'excourse30', 'excourse31',
       'excourse32', 'excourse33', 'excourse34', 'excourse35',
       'excourse36', 'excourse37', 'excourse38', 'excourse39',
       'excourse40', 'excourse41', 'excourse42', 'excourse43',
       'excourse44', 'excourse45', 'excourse46', 'excourse47',
       'excourse48', 'excourse49', 'excourse50', 'excourse51',
       'excourse52', 'excourse53', 'excourse54', 'excourse55',
       'excourse56', 'excourse57', 'excourse58', 'excourse59',
       'excourse60', 'excourse61', 'excourse62', 'excourse63',
       'excourse64', 'excourse65', 'excourse66', 'excourse67',
       'excourse68', 'excourse69', 'excourse70', 'excourse71',
       'excourse72', 'excourse73', 'excourse74', 'excourse75',
       'excourse76', 'excourse77', 'excourse78', 'excourse79',
       'excourse80', 'excourse81', 'excourse82', 'excourse83',
       'excourse84', 'excourse85', 'excourse86', 'excourse87',
       'excourse88', 'excourse89', 'excourse90', 'excourse91',
       'excourse92', 'excourse93'], dtype=object)

In [ ]:
list(idx_id.values())

In [ ]:
unknown_courses_ids = unknown_courses_df['COURSE_ID'].values
rows = set(all_courses).intersection(set(unknown_courses_ids))
[(x in rows) for x in all_courses]

In [193]:
def generate_recommendation_scores(user): 
    all_courses = pd.read_csv('./data/course_genre.csv')['COURSE_ID'].values
    enrolled =  ratings[ratings['user']==user]['item'].to_list()
    unknown_courses = set(all_courses).difference(set(enrolled))
    unknown_courses_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
    unknown_courses_ids = unknown_courses_df['COURSE_ID'].values
    
    rows = set(course_genres_df["COURSE_ID"]).intersection(set(unknown_courses_ids))
    idx = [(x in rows) for x in course_genres_df["COURSE_ID"].values]
    recommendation_scores = np.dot(
        course_genres_df[idx].iloc[:, 2:].values, test_user_vector.T
    )
    dict = {}
    for i in range(0,len(unknown_courses_ids)):
        dict[unknown_courses_ids[i]] = recommendation_scores[i][0]
    return dict

In [194]:
ratings_df = pd.read_csv('./data/ratings.csv')
user_ratings = ratings_df[ratings_df['user']==2103087]
enrolled_courses_ids = user_ratings['item'].to_list()
#res = generate_recommendation_scores(idx_id,enrolled_courses_ids)

In [ ]:
user_profile_recommendation = generate_recommendation_scores(2103087)
user_profile_recommendation

In [196]:
sorted_dict = dict(sorted(user_profile_recommendation.items(),key=lambda x: x[1],reverse=True))

In [200]:
sorted_dict

{'CO0401EN': 18.0,
 'CC0150EN': 18.0,
 'excourse43': 18.0,
 'excourse44': 18.0,
 'GPXX0SDXEN': 15.0,
 'OS0101EN': 15.0,
 'SW0201EN': 15.0,
 'SW0101EN': 15.0,
 'GPXX04V3EN': 15.0,
 'GPXX0D14EN': 15.0,
 'GPXX0HZ2EN': 15.0,
 'GPXX0HAAEN': 15.0,
 'COM001EN': 15.0,
 'LB0105ENv1': 15.0,
 'LB0103ENv1': 15.0,
 'GPXX0UMSEN': 15.0,
 'CO0193EN': 15.0,
 'LB0101ENv1': 15.0,
 'GPXX0RL8EN': 15.0,
 'GPXX0G81EN': 15.0,
 'GPXX0ADEN': 15.0,
 'excourse88': 15.0,
 'excourse89': 15.0,
 'excourse90': 15.0,
 'excourse92': 15.0,
 'excourse93': 15.0,
 'DE0205EN': 12.0,
 'CC0210EN': 12.0,
 'HCC104EN': 12.0,
 'GPXX0IBEN': 12.0,
 'SECM03EN': 12.0,
 'TA0106EN': 12.0,
 'BD0135EN': 12.0,
 'BD0133EN': 12.0,
 'BD0137EN': 12.0,
 'CO0301EN': 12.0,
 'ML0101EN': 12.0,
 'BD0123EN': 12.0,
 'RP0101EN': 12.0,
 'GPXX0G31EN': 12.0,
 'excourse21': 12.0,
 'excourse22': 12.0,
 'excourse75': 12.0,
 'DX0108EN': 9.0,
 'GPXX0W7KEN': 9.0,
 'GPXX0QR3EN': 9.0,
 'DS0201EN': 9.0,
 'PA0103EN': 9.0,
 'GPXX0A1YEN': 9.0,
 'TMP0105EN': 9.0,
 'PA0107EN': 9.0,
 'PHPM002EN': 9.0,
 'RP0103': 9.0,
 'RP0103EN': 9.0,
 'BD0212EN': 9.0,
 'SC0103EN': 9.0,
 'GPXX0YXHEN': 9.0,
 'ML0122ENv1': 9.0,
 'BD0151EN': 9.0,
 'TMP107': 9.0,
 'CO0201EN': 9.0,
 'GPXX01DCEN': 9.0,
 'GPXX0ZMZEN': 9.0,
 'GPXX0KV4EN': 9.0,
 'PA0101EN': 9.0,
 'BC0202EN': 9.0,
 'BC0101EN': 9.0,
 'GPXX0QS6EN': 9.0,
 'GPXX0QJFEN': 9.0,
 'GPXX05P1EN': 9.0,
 'GPXX0G3KEN': 9.0,
 'BD0211EN': 9.0,
 'GPXX04TNEN': 9.0,
 'GPXX0IHMEN': 9.0,
 'GPXX0E3QEN': 9.0,
 'GPXX0XV3EN': 9.0,
 'CB0105ENv1': 9.0,
 'DA0151EN': 9.0,
 'GPXX0T0FEN': 9.0,
 'GPXX0I4FEN': 9.0,
 'GPXX06KEEN': 9.0,
 'GPXX0YBFEN': 9.0,
 'LB0109ENv1': 9.0,
 'GPXX0KHHEN': 9.0,
 'LB0111EN': 9.0,
 'EE0101EN': 9.0,
 'GPXX04P5EN': 9.0,
 'LB0107ENv1': 9.0,
 'GPXX0PG8EN': 9.0,
 'GPXX0M7ZEN': 9.0,
 'GPXX07UGEN': 9.0,
 'GPXX0QU9EN': 9.0,
 'SC0101EN': 9.0,
 'GPXX0QTEEN': 9.0,
 'GPXX08WYEN': 9.0,
 'GPXX0JGFEN': 9.0,
 'GPXX05LMEN': 9.0,
 'GPXX0TY1EN': 9.0,
 'PY0101EN': 9.0,
 'DV0151EN': 9.0,
 'GPXX0BSAEN': 9.0,
 'GPXX0FFCEN': 9.0,
 'GPXX0MP0EN': 9.0,
 'ML0151EN': 9.0,
 'GPXX0KY1EN': 9.0,
 'GPXX0JLHEN': 9.0,
 'GPXX0WRDEN': 9.0,
 'excourse04': 9.0,
 'excourse06': 9.0,
 'excourse31': 9.0,
 'excourse37': 9.0,
 'excourse62': 9.0,
 'excourse65': 9.0,
 'excourse72': 9.0,
 'excourse73': 9.0,
 'excourse82': 9.0,
 'excourse83': 9.0,
 'excourse84': 9.0,
 'excourse85': 9.0,
 'CC0271EN': 6.0,
 'WA0103EN': 6.0,
 'BD0145EN': 6.0,
 'GPXX03HFEN': 6.0,
 'RP0151EN': 6.0,
 'TMP0106': 6.0,
 'GPXX0BUBEN': 6.0,
 'TMP0101EN': 6.0,
 'BD0143EN': 6.0,
 'WA0101EN': 6.0,
 'BD0141EN': 6.0,
 'GPXX0YMEEN': 6.0,
 'GPXX0Q8AEN': 6.0,
 'BD0223EN': 6.0,
 'GPXX07YGEN': 6.0,
 'GPXX0LLEEN': 6.0,
 'BD0121EN': 6.0,
 'BD0131EN': 6.0,
 'BD0115EN': 6.0,
 'DJ0101EN': 6.0,
 'DB0151EN': 6.0,
 'CO0302EN': 6.0,
 'DS0107': 6.0,
 'DS0110EN': 6.0,
 'DX0107EN': 6.0,
 'DS0105EN': 6.0,
 'DS0103EN': 6.0,
 'BD0101EN': 6.0,
 'CO0101EN': 6.0,
 'ML0101ENv3': 6.0,
 'DA0101EN': 6.0,
 'GPXX0M6UEN': 6.0,
 'GPXX097UEN': 6.0,
 'DS0101EN': 6.0,
 'BD0111EN': 6.0,
 'BD0221EN': 6.0,
 'GPXX0T3CEN': 6.0,
 'CC0201EN': 6.0,
 'DV0101EN': 6.0,
 'GPXX01AVEN': 6.0,
 'SC0105EN': 6.0,
 'excourse02': 6.0,
 'excourse03': 6.0,
 'excourse05': 6.0,
 'excourse10': 6.0,
 'excourse12': 6.0,
 'excourse20': 6.0,
 'excourse23': 6.0,
 'excourse35': 6.0,
 'excourse36': 6.0,
 'excourse38': 6.0,
 'excourse40': 6.0,
 'excourse42': 6.0,
 'excourse45': 6.0,
 'excourse49': 6.0,
 'excourse54': 6.0,
 'excourse63': 6.0,
 'excourse64': 6.0,
 'excourse66': 6.0,
 'excourse69': 6.0,
 'excourse70': 6.0,
 'excourse71': 6.0,
 'excourse80': 6.0,
 'excourse81': 6.0,
 'excourse86': 6.0,
 'excourse87': 6.0,
 'excourse91': 6.0,
 'GPXX06RFEN': 3.0,
 'GPXX0PICEN': 3.0,
 'DAI101EN': 3.0,
 'HCC105EN': 3.0,
 'DS0132EN': 3.0,
 'BENTEST4': 3.0,
 'DB0113EN': 3.0,
 'PA0109EN': 3.0,
 'TA0105': 3.0,
 'ST0201EN': 3.0,
 'ST0301EN': 3.0,
 'DW0101EN': 3.0,
 'GPXX04HEEN': 3.0,
 'ML0111EN': 3.0,
 'GPXX048OEN': 3.0,
 'GPXX04XJEN': 3.0,
 'GPXX0JZ4EN': 3.0,
 'GPXX0ZYVEN': 3.0,
 'GPXX0742EN': 3.0,
 'GPXX01RYEN': 3.0,
 'CC0120EN': 3.0,
 'QC0101EN': 3.0,
 'TA0105EN': 3.0,
 'GPXX0XFQEN': 3.0,
 'GPXX07REN': 3.0,
 'GPXX0725EN': 3.0,
 'BC0201EN': 3.0,
 'GPXX0MIIEN': 3.0,
 'GPXX0435EN': 3.0,
 'GPXX06ZLEN': 3.0,
 'AI0111EN': 3.0,
 'ST0101EN': 3.0,
 'BD0153EN': 3.0,
 'DP0101EN': 3.0,
 'ML0120EN': 3.0,
 'CB0201EN': 3.0,
 'GPXX0NHZEN': 3.0,
 'CL0101EN': 3.0,
 'GPXX0XENEN': 3.0,
 'DA0201EN': 3.0,
 'CP0101EN': 3.0,
 'DB0111EN': 3.0,
 'DB0115EN': 3.0,
 'ML0115EN': 3.0,
 'IT0101EN': 3.0,
 'CC0250EN': 3.0,
 'ML0122ENv3': 3.0,
 'ML0109EN': 3.0,
 'CC0121EN': 3.0,
 'GPXX0WTIEN': 3.0,
 'GPXX0HC7EN': 3.0,
 'GPXX04MXEN': 3.0,
 'DS0301EN': 3.0,
 'CC0101EN': 3.0,
 'GPXX0UN5EN': 3.0,
 'CC0103EN': 3.0,
 'DB0101EN': 3.0,
 'GPXX05RDEN': 3.0,
 'ML0103EN': 3.0,
 'ML0120ENv2': 3.0,
 'GPXX0QQ3EN': 3.0,
 'GPXX0RQLEN': 3.0,
 'ML0120ENv3': 3.0,
 'excourse01': 3.0,
 'excourse07': 3.0,
 'excourse08': 3.0,
 'excourse09': 3.0,
 'excourse11': 3.0,
 'excourse13': 3.0,
 'excourse14': 3.0,
 'excourse15': 3.0,
 'excourse16': 3.0,
 'excourse17': 3.0,
 'excourse18': 3.0,
 'excourse19': 3.0,
 'excourse24': 3.0,
 'excourse25': 3.0,
 'excourse26': 3.0,
 'excourse27': 3.0,
 'excourse28': 3.0,
 'excourse29': 3.0,
 'excourse30': 3.0,
 'excourse32': 3.0,
 'excourse33': 3.0,
 'excourse34': 3.0,
 'excourse39': 3.0,
 'excourse41': 3.0,
 'excourse46': 3.0,
 'excourse47': 3.0,
 'excourse50': 3.0,
 'excourse51': 3.0,
 'excourse52': 3.0,
 'excourse53': 3.0,
 'excourse55': 3.0,
 'excourse56': 3.0,
 'excourse57': 3.0,
 'excourse58': 3.0,
 'excourse59': 3.0,
 'excourse60': 3.0,
 'excourse61': 3.0,
 'excourse67': 3.0,
 'excourse68': 3.0,
 'excourse74': 3.0,
 'excourse76': 3.0,
 'excourse77': 3.0,
 'excourse78': 3.0,
 'excourse79': 3.0,
 'DS0321EN': 0.0,
 'CB0101EN': 0.0,
 'CB0103EN': 0.0,
 'SN0111EN': 0.0,
 'excourse48': 0.0}

In [197]:
recommended_courses = list(sorted_dict.keys())[:10]

In [198]:
recommended_courses

['CO0401EN',
 'CC0150EN',
 'excourse43',
 'excourse44',
 'GPXX0SDXEN',
 'OS0101EN',
 'SW0201EN',
 'SW0101EN',
 'GPXX04V3EN',
 'GPXX0D14EN']

In [22]:
course_genres_df[course_genres_df['COURSE_ID'].isin(recommended_courses)]

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
10,GPXX0SDXEN,testing microservices with the arquillian mana...,0,0,0,0,1,0,0,0,0,0,0,1,0,0
22,OS0101EN,introduction to open source,0,0,0,0,0,0,0,0,0,0,0,1,1,0
44,SW0201EN,how to build watson ai and swift apis and make...,0,0,1,0,0,1,0,0,0,0,0,1,0,0
49,SW0101EN,build swift mobile apps with watson ai services,0,0,1,0,0,1,0,0,0,0,0,1,0,0
56,CO0401EN,beyond the basics istio and ibm cloud kuberne...,0,0,1,0,1,0,0,0,0,0,0,1,0,0
98,GPXX04V3EN,deploy a web server using python and ibm cloud...,0,1,1,0,0,0,0,0,0,0,0,1,0,0
100,GPXX0D14EN,build a personal movie recommender with django,0,1,0,0,0,1,0,0,0,0,0,1,0,0
207,CC0150EN,building cloud native and multicloud applications,0,0,1,0,0,0,0,0,0,0,0,1,1,0
256,excourse43,cloud virtualization containers and apis,0,0,1,0,1,0,0,0,0,0,0,1,0,0
257,excourse44,alibaba cloud native solutions and container s...,0,0,1,0,1,0,0,0,0,0,0,1,0,0

In [24]:
ratings.tail()

           user        item  rating
233547  2103087  GPXX0Z2PEN     3.0
233548  2103087    CNSC02EN     3.0
233549  2103087    DX0106EN     3.0
233550  2103087  GPXX0FTCEN     3.0
233551  2103087  RAVSCTEST1     3.0

In [26]:
pd.read_csv('./data/course_processed.csv').head()

,COURSE_ID,TITLE,DESCRIPTION
0,ML0201EN,robots are coming build iot apps with watson ...,have fun with iot and learn along the way if ...
1,ML0122EN,accelerating deep learning with gpu,training complex deep learning models with lar...
2,GPXX0ZG0EN,consuming restful services using the reactive ...,learn how to use a reactive jax rs client to a...
3,RP0105EN,analyzing big data in r using apache spark,apache spark is a popular cluster computing fr...
4,GPXX0Z2PEN,containerizing packaging and running a sprin...,learn how to containerize package and run a ...

In [37]:
def get_doc_dicts():
    bow_df = pd.read_csv('./data/courses_bows.csv')
    grouped_df = bow_df.groupby(["doc_index", "doc_id"]).max().reset_index(drop=False)
    idx_id_dict = grouped_df[["doc_id"]].to_dict()["doc_id"]
    id_idx_dict = {v: k for k, v in idx_id_dict.items()}
    del grouped_df
    return idx_id_dict, id_idx_dict

In [33]:
idx_id, id_idx = get_doc_dicts()

307